<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p class="a">ร้านค้า</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="ประเภทของสินค้า" [(ngModel)]="typeSelect">
        <mat-option *ngFor="let type of types " [value]="type.typeId">
          {{type.typeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
     <mat-form-field>
    <mat-select [(ngModel)]="classSelect" placeholder="หมวดหมู่ของสินค้า">
      <mat-option *ngFor="let classification of classifications" [value]="classification.classId">
        {{classification.className}}
      </mat-option>
    </mat-select>
  </mat-form-field></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="ประเทศ" [(ngModel)]="countrySelect">
        <mat-option *ngFor="let country of countrys " [value]="country.countryId">
          {{country.countryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list   cols="4" rowHeight="30rem"> 
  <mat-grid-tile *ngFor="let product of products" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.productName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image width="200px" height="200px" src="{{product.productImgUrl}}">
      <mat-card-content>
        <div>ข้อมูล:{{product.productDetail}}</div>
        <div>ราคา:{{product.productPrice}}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addToCard(product)">add to card</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>  